/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/mysql/
/vol-share
.idea/
/public/admin
/public/site
/public/js
/public/css
/public/mix-manifest.json
/public/vendor
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php_cs.cache
tools/*

