.edit-product-image {
    max-width: 100%;
}

.nav-sidebar .nav-treeview .nav-item{
    padding-right: 20px;
}
@font-face {
    font-family: IranYekan;
    font-weight: normal;
    src: url('../fonts/iranyekanwebregularfanum.woff');
}

table {
    font-family: IranYekan !important;
}